# Ignore Emacs buffer files
*~
*#

# Ignore object files
*.o

# Ignore main files
*-main.c

# Ignore executable files
*.out

# Ignore every test
test_*
*-test
test-*

# Ignore specific files
function_pointers/_putchar.c
file_io/_putchar.c

# Exception to no ignore

!function_pointers/3-main.c

